@model OnlineMovieStore.Models.FilteredViewModel
@{
    ViewData["Title"] = $"Category: {Model.CategoryName}";
}

    <section class="filtered" id="filtered">
        <h2>@Model.CategoryName</h2>
        <div class="row">
            @{
                foreach (var item in Model.Filtered)
                {
                    <div class="col-sm-2 hvr-shadow-radial">
                        <article class="card rounded">
                            <header class="title-header">
                                <h3 class="text-center">@(item.Title)</h3>
                            </header>
                            <div class="card-block">
                                <div class="img-card">
                                    <img src="~/img/@(item.Id).png" alt="@(item.Title)" class="w-100" />
                                    <div class="average-rating rounded">
                                        @Html.DrawStars(item.Rating)
                                    </div>
                                    <div class="view-detail" style="display:none;">
                                        <button class="btn btn-sm btn-danger btn-block"><i class="fa fa-eye"></i> View Detail</button>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            }
        </div>
    </section>


