@model OnlineMovieStore.Data.Tables.Basket
@inject OnlineMovieStore.Repositories.MovieManager movieRepo
@{
    ViewData["Title"] = "Basket";
}

<h1>Basket</h1>

@if (@Model.UserBasket.Ids.Count > 0 || true)
{
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <span style="font-size:20px;margin-left:15px;"><b>Avatar</b></span>
                        </div>
                        <div class="col-3">
                            <span> <b>10.10$</b></span>
                        </div>
                        <div class="col-1">

                            <a href="#" class="trash"><i class="fas fa-trash-alt fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item list-group-item-warning">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                            <span> <b>Total Price</b></span>
                        </div>
                        <div class="col-2">
                            <span> <b>100.00$</b></span>
                        </div>
                        <div class="col-2">
                            <a href="#" class="btn btn-success">Buy All</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
}
else
{
    <br />
    <span><b>Basket is empty :(</b></span>
}

