@model OnlineMovieStore.Models.FilteredViewModel
@{
    ViewData["Title"] = $"Category: {Model.CategoryName}";
}

<section class="filtered" id="filtered">
    <h2>@Model.CategoryName</h2>
    <div class="row">
        <partial name="_MoviePartial" model="@Model.Filtered" />
    </div>
</section>


