@model List<OnlineMovieStore.Data.Tables.Movie>
@{
    ViewData["Title"] = "Recently Added";
}

<section class="filtered" id="filtered">
    <h2>@ViewData["Title"]</h2>
    <div class="row">
        <partial name="_MoviePartial" model="@Model" />
    </div>
</section>