@model List<OnlineMovieStore.Data.Tables.Movie>
@{
    ViewData["Title"] = $"Search Result";
}

    <section class="searchResult" id="searchResult">
        <h2>@ViewData["Title"]</h2>
        <div class="row">
            <partial name="_MoviePartial" model="@Model" />
        </div>
    </section>


